@(empresas: List[Empresa])

@main("Empresa"){

 <div class="navbar navbar-inverse navbar-static-top navbar-custom-menu" role="navigation">
		<div class="navbar-header">
			 <a class="navbar-brand" href="/"><img src="@routes.Assets.at("images/logo.png")" alt="Sysprova"></a>
			<a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
		</div>

		<ul class="nav navbar-nav collapse" id="navbar-menu">
			<li><a href="/index"><i class="icon-home"></i> <span>Home</span></a></li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-file-plus"></i> <span>Cadastro</span> <b class="caret"></b></a>
				<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="/curso">Cadastrar Curso</a></li>
					<li><a href="/turma">Cadastrar Turma</a></li>
					<li><a href="/professor">Cadastrar Professor</a></li>
					<li><a href="/disciplina">Cadastrar Disciplina</a></li>
				</ul>
			</li>
			
			<li><a href="/#"><i class="icon-file-upload"></i> <span>Gerar Escala</span></a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
			<li class="user dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">
					<span>Felipe Lima</span>
					<i class="caret"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right icons-right">
					<li><a href="#"><i class="icon-user"></i> Perfil</a></li>
					<li><a href="#"><i class="icon-cog"></i> Configurações</a></li>
					<li><a href="login.html"><i class="icon-exit"></i> Sair</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!--  Fim Menu Horizontal -->


	<!-- Inicio Conteudo da Página -->
 	<div class="page-container">


		<!-- Sidebar -->
		<div class="sidebar">
			<div class="sidebar-content">

				<!-- dropdown Usuario -->
				<div class="user-menu dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			
						<div class="user-info">
							Felipe Lima
						</div>
					</a>
					<div class="popup dropdown-menu dropdown-menu-right">
					    <div class="thumbnail">
					    	<div class="thumb">
								
								<div class="thumb-options">
									<span>
										<a href="#" class="btn btn-icon btn-success"><i class="icon-pencil"></i></a>
										<a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
									</span>
								</div>
						    </div>
					    
					    
				    	</div>

				    	
					</div>
				</div>
				<!-- Fim dropdown Usuario-->


				<!-- Inicio Sidebar Menu Verical-->
				<ul class="navigation">
					<li><a href="index.html"><span>Home</span> <i class="icon-home"></i></a></li>
					
					<li>
						<a href="#"><span>Cadastro</span> <i class="icon-file-plus"></i></a>
						<ul>
							 <li><a href="/curso">Cadastrar Curso</a></li>
					<li><a href="/turma">Cadastrar Turma</a></li>
					<li><a href="/professor">Cadastrar Professor</a></li>
					<li><a href="/disciplina">Cadastrar Disciplina</a></li>
						</ul>
					</li>
					
					<li>
						<a href="/#"><span>Gerar Escala</span> <i class="icon-file-upload"></i></a>
						
					</li>
					
					
					<li>
						<a href="login.html"><i class="icon-exit"></i> Sair</a>
					</li>
				</ul>
				<!-- /Fim Sidbar Menu Vertical -->
				
			</div>
		</div>
		<!-- Fim sidebar -->


		<!-- Conteudo Da Pagina -->
	 	<div class="page-content">


			<!-- Pagina header -->
			<div class="page-header">
				<div class="page-title">
					<h3>Ficha de Empresa <small>Cadastro de Empresa</small></h3>
				</div>

				<div id="reportrange" class="range">
					<div class="visible-xs header-element-toggle">
						<a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a>
					</div>
					<div class="date-range"></div>
					<span class="label label-danger">9</span>
				</div>
			</div>
			<!-- /page header -->


			<!-- Linha menu guia de migalhas -->
			<div class="breadcrumb-line">
				<ul class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Cadastro</a></li>
					<li class="active">Cadastro de Curso</li>
				</ul>

				<div class="visible-xs breadcrumb-toggle">
					<a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
				</div>
			</div>
			<!-- Linha menu guia de migalhas -->

            

      
      @helper.form(action=routes.EmpresaCrud.gravar()) {
       <!-- Form Cadastro de Curso -->
			<form action="#" role="form">
	            <div class="panel panel-default">
	                <div class="panel-heading"><h6 class="panel-title"><i class="icon-file-plus"></i> Cadastro</h6></div>
	                <div class="panel-body">

	                	<!-- Informações Gerais -->
	                	<div class="block-inner">
		                	<div class="block-inner">
								<h6 class="heading-hr">
									<i class="icon-newspaper"></i> Cadstro de Curso <small class="display-block">Preencha as o formulario com as informações do curso</small>
								</h6>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label>CNPJ:</label>
		                                <input type="text" id="cnpj" name="cnpj" class="form-control" placeholder="CNPJ da empresa">
									</div>

								</div>
							</div>

						</div>
						<!-- Fim Informações Gerais-->

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>Inscrição Estadual</label>
	                                <input type="text"  id="inscricaoestadual" name="inscricaoestadual" placeholder="inscrição estadual" class="required form-control">
								</div>

								<div class="col-md-6">
									<label>Razão Social</label>
	                                <input type="text"  id="razao" name="razao" placeholder="Razão Social" class="required form-control">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-7">
									<label>Email</label>
	                                <input type="text"  id="email" name="Email" placeholder="Email" class="required form-control">
								</div>

								<div class="col-md-5">
									<label>Telefone</label>
	                                <input type="text"  id="telefone" name="telefone" placeholder="Telefone" class="required form-control">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-7">
									<label>Logradouro</label>
	                                <input type="text"  id="logradouro" name="logradouro" placeholder="Rua" class="required form-control">
								</div>

								<div class="col-md-5">
									<label>Cidade</label>
	                                <input type="text"  id="cidade" name="cidade"  class="required form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-7">
									<label>Estado</label>
	                                <input type="text"  id="estado" name="estado" placeholder="Rua" class="required form-control">
								</div>

								<div class="col-md-5">
									<label>Cep</label>
	                                <input Cep="text"  id="cep" name="cep" class="required form-control">
								</div>
							</div>
						</div>
                       
                        <div class="form-actions text-right">
                        	<input type="reset" value="Cancelar" class="btn btn-danger">
                        	<input type="submit" value="Salvar"  id="singlebutton" name="singlebutton" class="btn btn-primary">
                        </div>

					</div>
				</div>
			</form>
}
      

   

  
 <div class="panel panel-default">
	                <div class="panel-heading"><h6 class="panel-title"><i class="icon-file-plus"></i> Lista de Empresas</h6></div>
	                <div class="panel-body">

	                	<!-- Informações Gerais -->
	                	<div class="block-inner">


<table class="table table-striped table-bordered" id="example"
cellpadding="0" cellspacing="0" border="0" width="100%">
<thead>
	<tr>
		<td>Codigo</td>
		<td>CNPJ</td>
		<td>Inscrição Estadual</td>
		<td>Razão Social</td>
		<td>E-mail</td>		
		<td>Telefone</td>
		<td>Logradouro</td>		
		<td>Estado</td>
		<td>Editar</td>
		<td>Remover</td>
	</tr>
</thead>
<tbody>
@for(empre <- empresas){
<tr>

<td>@empre.getIdEmpre()</td>
<td>@empre.getCnpj()</td>
<td>@empre.getInscricaoestadual()</td>
<td>@empre.getRazao()</td>
<td>@empre.getEmail()</td>
<td>@empre.getTelefone()</td>
<td>@empre.getLogradouro()</td>
<td>@empre.getEstado()</td>
<td>
	@helper.form(routes.EmpresaCrud.detalhar(empre.getIdEmpre())){
	<input type="submit" value="Editar" class="btn btn-info">
}
</td>
<td>
	@helper.form(routes.EmpresaCrud.remover(empre.getIdEmpre())){
	<input type="submit" value="Remover" class="btn btn-danger">
}
</td>
</tr>
}
</tbody>
</table>
</div>
						</div>
						</div>
	   

 

		               </div>
						</div>
						</div>
						
						

		  	<!-- Footer -->
	 
	        <div class="footer clearfix">
		        <div class="pull-left">&copy; 2015 <a href="#"> Sysescala</a> - Facema | Faculdade de Ciência e Tecnologia do Maranhão </div>	        	
	        </div>
	        
	        <!-- /footer --> 	    

} 